body{
    color: #495057;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }

ul{
    list-style: none;
}

.contaner{
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .contaner{
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .contaner{
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .contaner{
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .contaner{
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .contaner{
        max-width: 1320px;  
    }
}

.paragrafo{
    font-size: calc(14px + (16 - 14) * ((100vw - 320px)/ (1200 - 320)));
    margin-bottom: 12px;
    letter-spacing: .6px;
}

.paragrafo-destaque a{
    opacity: .6;
    color: #444;
    font-size: 15px;
    text-decoration: none;
}

.paragrafo-destaque a:hover{
    text-decoration: underline;
}

.titulo{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
}

.sob-titulo{
    margin-bottom: 12px;
    letter-spacing: .6px;
    font-size: 14px;
    color: #495057;
}

.habilidades{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 5rem 0;
}

.button{
    border: 1px solid;
    margin: 16px 0 0;
    padding: 10.4px 14.4px; 
    font-size: 14px;
    cursor: pointer;
    transition: background .15s;
    border-radius: 22px;
    text-decoration: none;
    display: inline-block;
    box-shadow: none;
    color: #fff;
    font-weight: 500; 
    background-color: #ff7a57;
    border-color: #ff7a57;  
}

.button:hover{
    text-decoration: none;
    background-color: #ff5c31;
    border-color: #ff5224;
}

.box{
    display: inline-block;
    padding: 10px;
    margin: 0 -2px;
    box-sizing: border-box;   
}

.form{
    display: flex;
    align-items: center;
}

.form input, .form textarea{
    font-size: 16px;
    color: #495057;
    border: 1px solid #ced4da;
    line-height: 1.5;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.form input{
    margin-bottom: 10px;
}

.form .button{
    width: 100%;
}

.artigo{
    width: calc(100% / 3);
}

.artigo-titulo{
    font-size: 20px;    
}

.box-body{
    box-shadow: 2px 3px 10px rgb(206 212 218 / 30%);
    border: 1px solid #dee2e6;
    padding: 1.25rem;
}

.header{
    display: flex;
    justify-content: end;
    
}
.navbar{
    display: flex;
    margin-left: auto;
}

.navbar li{
    padding: 8px;
    margin: 0 10px;
    font-size: 13px;
    font-weight: bold;
}

.banner{
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 100px;
}

.banner .titulo{
    font-size: 74px;
    font-weight: bold;
    margin: 0;
}

.banner .sob-titulo{
    font-size: 25px;
    margin: 0;
    opacity: .8;
}

.list-icon li{
    display: inline-block;
}

.list-icon a{
    background-color: transparent;
    cursor: pointer;
    display: block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ff7a57;
    color: #ff7a57;
    text-align: center;
    line-height: 40px;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
}

.list-icon a:hover{
    background-color: #ff7a57;
    color: #fff;
}

.list-icon {
    padding: 0;
}
    
.inf{
    max-width: 650px;
    padding: 20px 0;
    border-radius: 51px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #dee2e6;
    box-shadow: 0 0 30px rgb(173 181 189 / 40%);
    margin-top: -50px;
    height: 100px;
    align-items: stretch;
    box-sizing: border-box;
    background-color: #fff;
}

.inf .inf-numero{
    display: block;
    color: #495057;
    font-size: 32px;
    font-weight: 500;
}

.inf .sob-titulo{
    opacity: .7;
}

.inf div{
    flex-basis: 100%;
    text-align: center;
}

.inf div:not(:last-child){
    border-right: 1px solid #dee2e6;
}

.imagem-home{
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;

}

.texto{

}

.design{
    align-items: stretch;
    display: flex;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
   
}

.design li:hover{
    color:  #fff;
    background-color: #ff7a57;
}

.design i{
    display: block;
    color: #ff7a57;
    font-size: 40px;
    margin-bottom: 20px;
} 

.design li:hover i{
    color:  #fff;
}

.design li{
    background-color: #fff;
    border: 1px solid #dee2e6;
    box-shadow: 2px 3px 10px rgb(206 212 218 / 30%);
    flex-basis: 100%;
    padding: 55px 0;
    text-align: center;
    border-radius: 0.25rem;
    transition: all .5s;
}

.list-progress{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: 30px;     
}

.progress{
    height: 3px;
    background: #eaf0fc;
    margin-top: 10px;
}

.progress-bar{
    content: '';
    display: block;
    height: 3px;
    background-color: #ff7a57;  
}

.list-imagem{

}

.testemonial{

}

.contato{
    max-width: 1000px;
    margin: 0 auto;
}

.contato .box{
    width: 100%;
}

.contato .box-body{
    padding: 0 30px;
}


.list-contact{
    width: 60%;
    padding: 35px 30px 35px 0; 
    border-right: 1px solid #dee2e6;  
    margin-right: 30px; 
}

.link{
    opacity: .6;
    color: #ff5c31;
    font-size: 15px;
    text-decoration: none;
    transition: color .15s;
}

.link:hover{
    text-decoration: underline;
    color: #b52907; 

}

.box-laranja{
    color: #f8f9fa;
    padding: 1.25rem;
    background-color: #ff7a57;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-preto{
    background-color: #212529; 
    color: #f8f9fa;
    border-color: #212529;
}

.button-branco{
    background-color: #f8f9fa; 
    color: #212529;
    border-color: #f8f9fa;

}

.button-branco:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.tdu{
    text-decoration: underline;
}

.button-menu{
    display: none;
}
