.contaner{
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .contaner{
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .contaner{
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .contaner{
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .contaner{
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .contaner{
        max-width: 1320px;  
    }
}

.paragrafo{

}

.titulo{

}

.sob-titulo{
    margin-bottom: 12px;
    letter-spacing: .6px;
    font-size: 14px;
    color: #495057;


}

.habilidades{

}

.button{
    margin: 16px 0 0;
    padding: 10.4px 14.4px;
    background-color: #ff5c31;
    border-color: #ff5224; 
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    overflow: visible;
    transition: color 15s;
    height: 5px;
    border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;

}

.button.rounded{
    border-radius: 4px;
}

.button:hover{
    text-decoration: none;
}

.artigo{

}

.header{

}
.navbar{

}

.baner{

}

.list-icon{

}

.inf{

}

.imagem-home{
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;

}

.texto{

}

.design{

}

.list-progress{

}

.list-imagem{

}

.testemonial{

}

.contato{

}

.box{

}

.list-contact{

}

.button-preto{

}

.link{

}